body
  include ./header
  form(action='/checkLogin', method='POST')
  
    p
      | Username: 
      input(type='text', name='username', value='')
      |          Password: 
      input(type='text', name='password', value='')
      |         
      input(type='submit', value='login')