head
  title Order Form
  include ./header
  style
        include ../public/style.css
body(onload="init()")
    br
    select#restaurant-select
    br
    br
    #info
    #main
        #left.column.left
        #middle.column.middle
        #right.column.right
    script
        include ../public/orderform.js

